.button {
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68B738;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  border: none;
}