.contacts {
  padding: 20px;
}

.contacts__heading {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #111111;
}

.contacts__address {
  line-height: 20px;
  margin: 0;
  color: #444444;
}