.field {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.field__input::placeholder {
  color: #444444;
}