.offer {
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catbag.png");
  padding: 40px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
