.process {
  padding: 20px;
}

.process__heading {
  font-family: $font-heading;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.process__list {
  color: #444444;
  list-style: none;
}