.show-more__heading {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.button--secondary {
  background-color: #F2F2F2;
  color: #444444;
}
