@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
}

.site-menu {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.site-menu__link {
  text-decoration: none;
  color: #000000;
}

.promo {
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo_cat_img.png");
  font-family: "Oswald", "Arial", sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}

.promo__heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.promo__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

.button {
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68B738;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.catalog-sections__item {
  padding: 20px;
  background-color: #F2F2F2;
}

.catalog-sections__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-sections__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.catalog-sections__link {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.process {
  padding: 20px;
}

.process__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.process__list {
  color: #444444;
  list-style: none;
}

.example {
  padding: 20px;
  background-color: #EAEAEA;
}

.example__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.example__text {
  color: #444444;
  margin: 0;
}

.example__list {
  text-align: center;
  margin: 0;
}

.example__title {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: #444444;
}

.example__definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts {
  padding: 20px;
}

.contacts__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #111111;
}

.contacts__address {
  line-height: 20px;
  margin: 0;
  color: #444444;
}

.page-footer {
  padding: 20px;
  background-color: #F2F2F2;
}

.developer {
  font-size: 16px;
  color: #444444;
  text-decoration: none;
}

.logo {
  text-decoration: none;
}

.page-main__heading {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
}

.page-main__subheading {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-list {
  padding: 20px;
}

.card__link {
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.card__heading {
  font: inherit;
}

.card__list {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.show-more__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.button--secondary {
  background-color: #F2F2F2;
  color: #444444;
}

.catalog-additional {
  padding: 20px;
}

.catalog-additional__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.catalog-additional__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-row__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.card-row__list {
  line-height: 14px;
  color: #444444;
}

.offer {
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catbag.png");
  padding: 40px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.form {
  padding: 20px;
}

.form__additional {
  line-height: 16px;
}

.field-group {
  padding: 20px 0;
  border: none;
}

.field-group__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.field-group__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.field__input::placeholder {
  color: #444444;
}

.control {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
/*# sourceMappingURL=style.css.map */